.tools {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 56rem) {
    .tools {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}