.tool-card__description {
    font-family: var(--MainFontFamily);
    font-size: 0.8125rem;
    font-weight: 400;

    color: var(--LightGrey);

    line-height: 1.3125rem;
    letter-spacing: 0.00625rem;

    margin-top: 0.125rem;
    margin-left: 1.9375rem;
}