.header__description {
    font-family: var(--MainFontFamily);
    font-size: 0.9375rem;
    font-weight: 400;

    letter-spacing: 0.00625rem;
    line-height: 1.3125rem;

    color: var(--LightGrey);

    margin-top: 0.875rem;
}