.header__powered-by {
    font-family: var(--MainFontFamily);
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--Grey);

    letter-spacing: 0.015625rem;

    margin-top: 0.0625rem;
}

@media screen and (min-width: 56rem) {
    .header__powered-by {
        font-size: 2.25rem;
    }
}